<app-navbar></app-navbar>
<router-outlet></router-outlet>

<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
        <img
          alt=""
          src="../assets/images/coding.svg"
          class="absolute inset-0 h-full w-full object-cover"
        />
      </div>

      <div class="lg:py-24 text-gray-100 ">
        <h2 class="text-4xl font-bold sm:text-5xl mb-1">Hola!</h2>
        <h2 class="text-3xl font-bold sm:text-4xl mb-4">Soy Nicolas Orbe</h2>
        <h2 class="text-4xl font-bold sm:text-5xl">Web developer</h2>

        <p class="mt-4 text-gray-100">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut qui hic atque tenetur quis
          eius quos ea neque sunt, accusantium soluta minus veniam tempora deserunt? Molestiae eius
          quidem quam repellat.
        </p>

        <a
          href="#"
          class="mt-8 inline-block rounded bg-[#6f859b] px-12 py-3 text-sm font-medium text-white transition hover:bg-[#6f859b] border-solid border-2 border-[#B3E5FC]"
        >
          Curriculum vitae
        </a>
      </div>
    </div>
  </div>
</section>

