<section class="w-full ">
  <div class="max-w-screen-xl mx-auto ">
    <h2 class="text-6xl font-bold text-center text-[#f2e8e2] mb-8">Proyectos realizados</h2>
    <div class="grid grid-cols-2 ml-1 mr-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ">
      <a href="https://stable.com.ar" target="_blank" class="hover:-translate-y-1 hover:scale-110  duration-300 p-2 rounded-lg shadow-lg  hover:border-[#52AABC] hover:shadow-[#52AABC] text-center">
        <h3 class="text-xl font-semibold text-[#F8F8FF] mb-2">Web Stable software</h3>
        <div class="flex justify-center ">
          <img src="../../../assets/images/stablesoftware.webp" alt="Stable software">
        </div>
      </a>
      <a href="https://www.brilloextremovm.com" target="_blank" class=" p-2 rounded-lg shadow-lg transition hover:border-[#52AABC] hover:shadow-[#52AABC]  text-center hover:-translate-y-1 hover:scale-110  duration-300">
        <h3 class="text-xl font-semibold text-[#F8F8FF] mb-2">E-commerce Brillo extremo</h3>
        <div class="flex justify-center">
          <img src="../../../assets/images/brilloextremo.webp" alt="Brillo extremo">
        </div>
      </a>
      <a href="https://fronttuttobene.web.app" target="_blank"  class=" p-2 rounded-lg shadow-lg transition hover:border-[#52AABC] hover:shadow-[#52AABC]  text-center hover:-translate-y-1 hover:scale-110  duration-300">
        <h3 class="text-xl font-semibold text-[#F8F8FF] mb-2">E-commerce Tutto bene</h3>
        <div class="flex justify-center ">
          <img src="../../../assets/images/tuttobene.webp" alt="Tutto bene">
        </div>
      </a>
    </div>
  </div>
</section>
