@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/images/fondo.webp');
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que la imagen de fondo sea fija cuando se desplaza la página */
  background-position: center; /* Centra la imagen en el fondo */
  font-family: 'Montserrat', sans-serif;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@layer utilities {
  .zoom-in {
    animation: zoomIn 0.5s ease-out forwards;
  }
}

/* ESTILOS DE SCROLLBAR */
::-webkit-scrollbar{
  width: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-track{

  border-radius: 10px;
  background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #6f859b;
  background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}
